@media (max-width: 1250px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }
    .card{
        width: 190px;
        margin: 13px;
    }
    #articles {
        width: 63%;    
    }

    #articles h2{
        width: 103%;
    }

    #footer .wrap > div {
        width: 25%;
    }

    #footer #browsers img {
        width: 15%;
    }

    #banner h1 {
        font-size: 35px;
        text-align: center;
        line-height: 47px;
    }

    .card .description {
        font-size: 14px;
    }
}
@media (max-width:1196px){
    .wrap {
        width: 91%;
    }
    .card .description {
        font-size: 15px;
    }
    .card .category {
        font-size: 19px;
    }
}
@media(max-width:970px){
    .card {
        width: 17%;
    }
    .card .category {
        font-size: 18px;
        text-align: center;
    }
    .card {   
        height: 282px;    
    }
    #articles {
        width: 59%;
    }
    #articles h2 { 
        line-height: 81px;
        font-size: 36px;   
    }
    /*.wrap {
        width: 100%;
    }*/
    #footer .wrap > div {
        width: 24%;
    }
    #footer h5 {
        font-size: 26px;
    }
    #footer ul {
        font-size: 20px;
    }
    #footer #browsers img {
        width: 12%;
    }
}

@media (max-width:925px){
    .card {
        width: 16.8%;
    }
    .card .category {
        font-size: 16px;
    }
    .card .description {
        font-size: 12px;
        padding-left: 4px;
        padding-right: 4px;
    }
    #banner h1 {
        font-size: 33px;
        text-align: center;
        line-height: 51px;
    }
    #articles {
        width: 57%;
    }
    aside h3 {  
        width: 99%;
    }
    #footer .wrap > div {
        width: 23%;
    }
    #footer #browsers img {
        width: 14%;
    }
}
@media(max-width:877px){
    #banner h1 {   
        width: 769px;
    }
    #lateral {
        width: 35%;
    }
    #login input[type="submit"], #login input[type="button"], #login input[type="reset"], #login button {
        width: 40%;      
        margin-left: 15px;
    }
}

@media(max-width:871px){
    .card {
        width: 16.6%;
    }
    .card .category {
        font-size: 15px;
    }
    #footer h5 {
        font-size: 21px;
    }
    .card .description {
        display: none;
    }   
    .card {
        height: 196px;
    }
    #articles h2 {
        font-size: 31px;
    }
    aside h3 { 
        font-size: 31px; 
    }
    #footer img {
        max-width: 100%;
    }
}

/*IPad*/
@media (max-width:768px){
    #banner h1 {
        width: 678px;
    }
    .card {
        width: 16.2%;
    }
    #footer .wrap > div {
        width: 21%;
    }
    #footer #browsers img {
        width: 13%;
    }
}
/*Fin Ipad*/

@media (max-width:715px){
    header{
        width: 100%;
        height: 290px;
    }
    .wrap {
        width: 92%;
    }
    #banner h1 {
        width: 630px;
    }
    #banner h1 {
        font-size: 28px;
    }
    .card {
        width: 16%;
    }
    #lateral {
        width: 34%;
    }
    #footer .wrap > div {
        width: 21%;
    }
    #footer h5 {
        font-size: 15px;
    }
    @media (max-width:800px){
        .card {
            width: 16.4%;
        }
    }

/*Iphone 6*/
@media (max-width:375px){
    
    #logo .gear {
        font-size: 15px;
        margin-top: 18px;
        margin-left: 12px;
    }
    #logo h3 {
        font-size: 28px;
        margin-top: 12px;
        margin-right: 119px;
    }
    #logo {
        width: 201px;
        margin-top: 11px;
        margin-left: 6px;
    }
    #menu ul li {
        font-size: 10px;
    }
    #menu ul li {
        display: block;
        margin: 0px 4px 0px 4px;
        line-height: 15px;
        }
    #header {
            padding-top: 6px;
            padding-bottom: auto;
        }
        #banner h1 {
            font-size: 14px;
        }
        #banner h1 {
            width: 334px;
        }
}
/*Fin Iphone6*/

@media (max-width:475px){
    #logo {
        float: left;
    }
    #header{
        width: 100%;
        height: 275px;
        padding-top: 10px;
    }
    #menu{
        clear: both;
        float: none;
        width: 100%;
        margin: 0px auto;
    }
    #menu ul li{
        width: 100%;
        line-height: 52px;
    }
    #menu ul li a{
        width: 100%;
        line-height: 30px;
    }
    #menu ul li a:hover{
        color: #37bcf9;
        transform: scale(1,1);
    }
    #banner{
        height: 85px;
    }
    #banner h1{
        font-size: 18px;
    }
    #lateral input[type="text"]{
        width: 85%;
    }
    .card .icon{
        font-size: 35px;
    }
    .card:hover .icon{
        font-size: 35px;
    }
    .card .category{
        font-size: 11px;
    }
    #arcticles .data{
        float: none;
        margin: -10px;
        border: 0px 0px 0px 0px;
    }
    #articles article h4{
        margin-top: 20px;
    }
    .card {
        width: 14%;
    }
    #articles {
        width: 56%;
    }
}